html, body {
    margin: 0;
    padding: 0;
    overflow: none;
}
input {
    border: 1px solid#E5E7EB;
}
input:focus {
    box-shadow: 0px 7px 12px -4px black;
}
a {
    text-decoration: none;
    color: #596D48;
}
button {
    border-radius:  5px;
    padding: 5px 15px 5px 15px ;
    color: whitesmoke;
    background-color: #596D48;
}
h2 {
    padding: 2.5%;
    padding-right: 15%;
}
img {
    height: 7em;
    width: auto;
    display: inline-block;
}
.main-content {
    height: 100vh;
    display: flex;
}
.forms {
    padding-left: 10%;
}
.form-section {
    background-color: rgb(239, 239, 239);
    box-shadow: 0 10px 10px rgba(148, 148, 148, 0.473);
}
.form-example {
    display: flex;
    flex-direction: column;
    width: 43%;

    padding: 2%;
    /* flex-wrap: wrap; */
}
.rightside {
    padding-top: 5%;
    text-align: left;
    width: 67%;
}
.leftside {
    background: url('HW25Odin.jpg');
    background-size: cover;
    width: 33%;
    padding-top: 10%;
}
.bottom-section {
    padding: 2%;
}
.odinDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 45%;
    background: rgb(0, 0, 0);
    border: 1px solid white;
}
#odin-text{
    /* background-color: rgb(212, 35, 147); */
    color: whitesmoke;
    font-size: 5em;
}
